<h1>Welcome</h1>
<p>Enter your details:</p>
<form action="/submit" method="post">
	<label for="fname">First Name:</label><br>
	<input type="text" id="fname" name="fname"><br><br>

	<label for="lname">Last Name:</label><br>
	<input type="text" id="lname" name="lname"><br><br>

	<label for="maths">Marks in Maths:</label><br>
	<input type="text" id="maths" name="maths"><br><br>
	
	<label for="english">Marks in English:</label><br>
	<input type="text" id="english" name="english"><br><br>

	<button type="submit">Submit</button>
</form>